@import url("./vars.css");
@import url("./reset.css");

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

/* box-shadow */
.shadow {
  box-shadow: 0 0 6px rgba(150, 150, 150, 0.1);
}

.hover\:shadow:hover {
  box-shadow: 0 1px 12px rgba(150, 150, 150, 0.2);
}

.focus\:shadow:focus {
  box-shadow: 0 1px 12px rgba(150, 150, 150, 0.2);
}

/* divider */
hr {
  border: 0;
  border-bottom: var(--border);
}

/* display flex */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* gap */
.gap-1 {
  gap: 0.5rem;
}

/* height, width */
.h-screen {
  height: 100vh;
}

/* margin */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

/* padding */
.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* select */
.select-none {
  user-select: none;
}

/* text-align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* transition */
.transition {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-effect);
  transition-property: all;
}

.transition-bg-color {
  transition-property: background-color;
}

.transition-shadow {
  transition-property: box-shadow;
}
