@import url("./vars.css");
@import url("./reset.css");

body {
  background-color: var(--colors-bg-body);
  color: var(--colors-text-body);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.transition-shadow {
  transition: box-shadow linear 0.125s;
}

.shadow {
  box-shadow: 0 0 6px rgba(150, 150, 150, 0.1);
}

.hover\:shadow:hover {
  box-shadow: 0 1px 12px rgba(150, 150, 150, 0.2);
}

.focus\:shadow:focus {
  box-shadow: 0 1px 12px rgba(150, 150, 150, 0.2);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.p-2 {
  padding: 1rem;
}
