:root {
  --colors-bg-body: rgb(13, 17, 23);
  --colors-text-body: white;
  --colors-link: rgb(47, 129, 247);

  --border: 2px solid rgba(255, 255, 255, 0.15);
  --border-radius: 2rem;
  
  --card-border: var(--border);
  --card-border-radius: 0.5rem;
}
