:root {
  --border: 2px solid rgba(255, 255, 255, 0.15);
  --radius: 2rem;

  --body-bg-color: rgb(13, 17, 23);
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-line-height: 1.25rem;
  --body-text-color: white;

  --avatar-bg-color: rgba(255, 255, 255, 0.2);
  --avatar-radius: 100%;
  --avatar-height: 100px;
  --avatar-width: 100px;

  --card-bg-color: var(--body-bg-color);
  --card-border: var(--border);
  --card-radius: 0.5rem;

  --link-color: rgb(47, 129, 247);

  --skeleton-radius: 0.25rem;

  --subtitle-font-size: 1.25rem;
  --subtitle-font-weight: 400;
  --subtitle-line-height: 1.59rem;

  --title-font-size: 2rem;
  --title-font-weight: 400;
  --title-line-height: 2.5rem;

  --transition-duration: 0.125s;
  --transition-effect: linear;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
