.Input {
  align-items: center;
  background-color: var(--body-bg-color);
  border-radius: var(--radius);
  border: var(--border);
  color: var(--body-text-color);
  display: inline-flex;
  font-size: 1rem;
  gap: 0.5rem;
  height: 2.625rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.Input:focus-within {
  outline: var(--outline);
}

.Input > input {
  background-color: transparent;
  border: none;
  color: var(--body-text-color);
  height: 100%;
  padding: 0;
  width: 100%;
}

.Input > input:focus {
  outline: none;
}